@model Order

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Owner ID
        </dt>
        <dd class="col-sm-10">
            @Model.OwnerId
        </dd>
        <dt class="col-sm-2">
            Owner First Name
        </dt>
        <dd class="col-sm-10">
            @Model.OwnerFirstName
        </dd>
        <dt class="col-sm-2">
            Owner Last Name
        </dt>
        <dd class="col-sm-10">
            @Model.OwnerLastName
        </dd>
        <dt class="col-sm-2">
            Owner Address
        </dt>
        <dd class="col-sm-10">
            @Model.OwnerAddress
        </dd>
        <!-- Add more fields as necessary -->
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
